rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow public read/write access to all files for development.
      // Make sure to secure these rules before deploying to production.
      allow read, write: if true;
    }
  }
}
